.comment{id: "comment-#{comment.id}"}
  .row.header
    .col-md-12
      - if user_signed_in? && current_user.can_delete?(comment)
        %span.badge.pull-right
          = link_to icon('times'), comment_path(comment), method: 'delete', remote: true
      %span.badge.pull-right= icon 'calendar', l(comment.created_at)
      %span.badge.pull-right
        = public_comment_link(comment)
      %span.badge.pull-right
        %a{href: public_profile_path(comment.user)}= icon 'user', comment.user_name
      - if user_signed_in? && current_user.can_delete?(comment)
        %span.badge.pull-right
          = link_to icon('edit'), "#comment-#{comment.id}", class: 'edit-comment-link'
  .row.body  
    .col-md-3.col-sm-4.hidden-xs
      = image_tag comment.user_avatar_url(:thumb), class: 'avatar'
    .col-md-9.col-sm-8 
      - cache comment_cache_key(comment) do
        .text
          = sanitize(comment.body_html)

      = render partial: 'comments/edit_comment_form', locals: {comment: comment}