.container
  = keys
  = page_header
  = spacer
  = form_for resource, :as => resource_name, :url => unlock_path(resource_name), :html => { method: :post, class: 'form-horizontal' } do |f|
    %legend
      = t('.instructions')
    = render partial: 'shared/errors', locals: { model: resource }
    .form-group
      = f.label :email, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit t('.submit'), class: 'btn btn-primary'
    .form-group
      .col-sm-offset-2.col-sm-10
        = render "devise/shared/links"
  = painter
