.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        Посты
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{href: '#'}= t('nav.personal')
          %li
            %a{href: '#'}= t('nav.work')
          %li
            %a{href: '#'}= t('nav.films')
          %li
            %a{href: '#'}= t('nav.books')
          %li
            %a{href: '#'}= t('nav.projects')
  .col-md-4
    .panel.panel-default
      .panel-heading
        Тематики
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{href: '#'}= t('nav.personal')
          %li
            %a{href: '#'}= t('nav.work')
          %li
            %a{href: '#'}= t('nav.films')
          %li
            %a{href: '#'}= t('nav.books')
          %li
            %a{href: '#'}= t('nav.projects')
  .col-md-4
    .panel.panel-default
      .panel-heading
        Теги
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{href: '#'}= t('nav.personal')
          %li
            %a{href: '#'}= t('nav.work')
          %li
            %a{href: '#'}= t('nav.films')
          %li
            %a{href: '#'}= t('nav.books')
          %li
            %a{href: '#'}= t('nav.projects')