.row
  %table.table.info
    %tbody
      %tr
        %th= t('.user_name')
        %td= user.user_name
      - if user.about.present?        
        %tr
          %th= t('.about')
          %td= sanitize(user.about_html)
      %tr
        %th= t('.sign_up_at')
        %td= l user.created_at
      %tr
        %th= t('.last_sign_in_at')
        %td= user.last_sign_in_at.present? ? l(user.last_sign_in_at) : t('.never')
      %tr
        %th= t('.posts')
        %td= user.posts_count
      %tr
        %th= t('.comments')
        %td= user.comments_count
      %tr
        %th= t('.bugs')
        %td= user.bugs_count
          