.row
  .col-md-3.avatar
    %img{src: image_path('avatar.png')}
  .col-md-9
    .panel.panel-default
      .panel-heading Информация о пользователе  
      %table.table
        %tbody
          %tr
            %th= 'Логин'
            %td= 'kimrgrey'
          %tr
            %th= 'Последний раз был на сайте'
            %td= '11.12.2013 15:15:09'
          %tr
            %th= 'Дата регистрации'
            %td= '11.12.2013 15:15:09'
          %tr
            %th= 'Количество комментариев'
            %td= '138'
          %tr
            %th= 'Количество постов'
            %td= '68'
          