.row
  %table.table
    %tbody
      %tr
        %th= t('.user_name')
        %td= user.user_name
      %tr
        %th= t('.sign_up_at')
        %td= l user.created_at
      %tr
        %th= t('.last_sign_in_at')
        %td= user.last_sign_in_at.present ? l(user.last_sign_in_at) : t('.never')
      %tr
        %th= t('.posts')
        %td= user.posts_count
      %tr
        %th= t('.comments')
        %td= user.comments_count
          