%li
  %a{href: events_user_path}= t('.events')
%li.dropdown
  %a.dropdown-toggle{href: '#', data: {toggle: "dropdown"}}= t('.title')
  %ul.dropdown-menu
    = menu_item t('.new_post'), new_user_post_path, 'pencil'
    = menu_item t('nav.blog.bugs'), bugs_path, 'bug'
    = menu_divider
    = menu_item t('nav.blog.my'), public_posts_path(user), 'book'
    - user.sections.in_order.each do |section|
      = menu_item section.name, public_section_path(section), 'folder-open' 
    = menu_divider
    = menu_item t('nav.blog.imports'), user_imports_path, 'upload'
    
- if user.admin?
  = render partial: 'admin/shared/nav', locals: { user: user }