.row.sections
  %span.badge
    %a{href: '#'}= t('nav.personal')
  %span.badge  
    %a{href: '#'}= t('nav.work')
  %span.badge      
    %a{href: '#'}= t('nav.films')
  %span.badge  
    %a{href: '#'}= t('nav.books')
  %span.badge      
    %a{href: '#'}= t('nav.projects')