= image_tag subscription.post.user_avatar_path
= t('.subscribed_on_post')
= link_to icon('book', subscription.post_title), public_post_path(subscription.post)
= t('.of_author')
= link_to icon('user', subscription.post.user_name), public_profile_path(subscription.post.user)
