#tools
  %a{href: new_user_post_path, title: t('.post')}= icon 'pencil'
  %hr
  %a{href: root_path, title: t('.home')}= icon 'home'
  %a{href: events_user_path, title: t('.globe')}= icon 'globe'
  - if user.admin?
    %a{href: admin_root_path, title: t('.dashboard')}= icon 'dashboard'
  %a{href: user_posts_path, title: t('.blog')}= icon 'book'
  %a{href: user_path, title: t('.profile')}= icon 'user'
  %hr
  %a{href: destroy_user_session_path, title: t('.logout'), data: {method: 'delete'}}= icon 'power-off'