= content_for :nav do
  = render partial: 'users/my', locals: { user: @user }
  
#events.container
  - if @events.any?
    = page_header
    #events-list
      - @events.each do |event|
        = render partial: event.type.underscore, locals: { event: event }
        .clearfix
  - else
    = render partial: 'events/greeting'

= paginate @events