.profile.container
  = clip_and_clamp
  = page_header
  = render partial: 'users/avatar'   
  = render partial: 'users/info'
  = render partial: 'users/sections'
  = render partial: 'posts/list', locals: { posts: @posts, preview: true }