= content_for :nav do
  = render partial: 'users/my', locals: { user: @user }
.profile.container
  = clip_and_clamp
  = page_header
  %ul.nav.nav-tabs
    %li.active
      %a{href: '#profile', data: {toggle: 'tab'}}= t('.tabs.profile')
    %li
      %a{href: '#settings', data: {toggle: 'tab'}}= t('.tabs.settings')
  .tab-content
    #profile.tab-pane.active
      = render partial: 'users/profile', locals: {user: @user}
    #settings.tab-pane
      = render partial: 'users/settings', locals: {user: @user}