%header
  %a.logo{href: root_url}
    %img{src: image_url('logo.png')}
  %nav.main-menu
    %ul
      %li
        %a{href: root_path}= t('nav.home')
      %li
        %a{href: '#'}= t('nav.personal')
      %li
        %a{href: '#'}= t('nav.work')
      %li
        %a{href: '#'}= t('nav.films')
      %li
        %a{href: '#'}= t('nav.books')
      %li
        %a{href: '#'}= t('nav.projects')
  .clearfix
      
        
        