%nav.main-menu
  %ul
    %li
      %a{href: root_path}= t('nav.home')
    - if user_signed_in?
      %li
        %a{href: root_path}= t('nav.profile.main')
      %li.dropdown
        %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}= t('nav.blog.main')
        %ul.dropdown-menu
          %li
            %a{href: new_post_path}= icon 'pencil', t('nav.blog.post')        
            %a{href: imports_path}= icon 'download', t('nav.blog.imports')
    - else
      %li
        %a{href: new_user_registration_path}= t('nav.sign_up')
    %li.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}= t('nav.sections')
      %ul.dropdown-menu
        %li
          %a{href: '#'}= t('nav.personal')
        %li
          %a{href: '#'}= t('nav.work')
        %li
          %a{href: '#'}= t('nav.films')
        %li
          %a{href: '#'}= t('nav.books')
        %li
          %a{href: '#'}= t('nav.projects')
  - if user_signed_in?
    .profile.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: "dropdown"}} 
        kimrgrey
      %ul.dropdown-menu
        %li
          %a{href: '#'}= icon 'user', t('nav.profile.account')
        %li.divider
        %li
          %a{href: '#'}= icon 'sign-out', t('nav.profile.logout')
  - else
    .profile
      %a.signin{href: new_user_session_path}= t('nav.sign_in')