.event
  = image_tag event.author.avatar_url(:small)
  .text
    = icon 'clock-o', l(event.updated_at) + ':'
    = t('.user')
    = link_to icon('user', event.author.user_name), public_profile_path(event.author)
    = t('.rejected_bug')
    = link_to icon('bug', bug_id(event.bug)), bug_path(event.bug)
    = t('.in_post')
    = link_to icon('book', event.post.title), public_post_path(event.post)
    
    