.events-filter
  #types.btn-group
    %a.btn.btn-default{href: events_user_path(type: @selected_type)} 
      = t(".types.#{@selected_type}")
    %a.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
      %span.caret
    %ul.dropdown-menu
      - event_type_names.each do |event_name|
        %li= link_to t(".types.#{event_name}"), events_user_path(type: event_name)
  
  #periods.btn-group
    %a.btn.btn-default{href: events_user_path(period: @selected_period)} 
      = t(".periods.#{@selected_period}")
    %a.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
      %span.caret
    %ul.dropdown-menu
      - period_names.each do |period_name|
        %li= link_to t(".periods.#{period_name}"), events_user_path(period: period_name)

    