.event
  = image_tag event.author.avatar_path
  .text
    = icon 'clock-o', l(event.updated_at) + ':'
    = t('.user')
    = link_to icon('user', event.author.user_name), public_profile_path(event.author)
    = t('.published_post')
    = link_to icon('book', event.post.title), public_post_path(event.post)
    
    