= content_for :nav do
  = render partial: 'users/my', locals: { user: @user }

.container
  = clip_and_clamp
  = page_header

  - @bugs.each do |bug|
    .bug
      = render partial: 'bugs/table', locals: { bug: bug }
      = render partial: 'bugs/actions', locals: { bug: bug }
    %hr
    
= paginate @bugs