= content_for :nav do
  = render partial: 'public/nav', locals: { user: @user }
  = render partial: 'users/my', locals: { user: @user }

.bug.container
  = clip_and_clamp
  = page_header

  = render partial: 'bugs/table', locals: { bug: @bug }
  = render partial: 'bugs/actions', locals: { bug: @bug }

.container
  .comments
    = render partial: 'comments/comments', locals: { parent: @bug, comments: @comments }
