- if current_user.can_update?(post)
  = edit_link(post)
  = publish_link(post)
  - if post.published?
    = public_link(post) 
    = link_to icon('bug'), bugs_path(post_id: post.id), title: t('bugs.for_post') if post.has_bugs?

- if current_user.admin?
  = post_on_main_link(post) if post.published?