#pictures-list
  #toolbar.row.btn-toolbar
    %a#upload-picture.btn.btn-success{href: '#'}= icon 'upload', t('.upload')
  #content.row
    - @pictures.each do |picture|
      .picture-item
        %img{src: picture.image_url(:thumb)}
        %a.public-link{href: picture.image_url}= icon 'link'
        %a.delete-link{href: destroy_picture_url(picture)}= icon 'times'

= render partial: 'posts/pictures_upload_dialog'
= render partial: 'shared/public_link_dialog'