.post 
  = clip_and_clamp
  %h2
    = edit_link post if user_signed_in?
    %a{href: post_path(post)}= post.title
  .details
    %span.user 
      %a{href: profile_user_path(post.user_name)}= icon 'user', post.user_name
    %span.date 
      %a{href: '#'}= icon 'calendar', l(post.created_at)
    %span.comments 
      %a{href: '#'}= icon 'comments', '12'
  .body
    %img.avatar{src: image_path('avatar.png')}
    = markdown post.body
  .links
    %span.comments
      %a{href: '#'}= icon 'comments', '12'
    %span.tags
      = tags ['тестовый', 'набор', 'тегов']
    - unless params[:action] == 'show'
      %span.continue
        %a{href: post_path(post)}= icon 'book', t('.continue')
