- cache post_cache_key(post, preview, user_signed_in? && current_user.can_update?(post)), skip_digest: true do 
  .container.post
    = clip_and_clamp
    %h2
      = edit_link post if user_signed_in? && current_user.can_update?(post)
      %a{href: public_post_path(post)}= post.title
    .row.details
      %span.user 
        %a{href: public_profile_path(post.user)}= icon 'user', post.user_name
      %span.date 
        = icon 'calendar', l(post.created_at)
      %span.comments 
        - if preview
          %a{href: public_post_path(post, anchor: "comments")}= icon 'comments', post.comments_count
        - else
          = icon 'comments', post.comments_count
    .row.body
      = image_tag post.user_avatar_url(:thumb), class: 'avatar'
      = markdown(preview ? post.preview : post.body)
    .row.links
      - if preview
        .col-md-2.comments
          %a{href: public_post_path(post, anchor: "comments")}= icon 'comments', post.comments_count
      .col-md-7.tags
        = tags(post.tag_list) if post.tag_list.any?
      .col-md-3.continue
        - if preview
          %a{href: public_post_path(post)}= icon 'book', t('.continue')
  
  - unless preview
    .container.post
      .row.comments
        = render partial: 'posts/comments', locals: { post: post }
    
      