.container.post
  = clip_and_clamp
  %h2
    = edit_link post if user_signed_in?
    %a{href: profile_post_path(post.user_name, post)}= post.title
  .row.details
    %span.user 
      %a{href: profile_user_path(post.user_name)}= icon 'user', post.user_name
    %span.date 
      %a{href: '#'}= icon 'calendar', l(post.created_at)
    %span.comments 
      %a{href: '#'}= icon 'comments', '12'
  .row.body
    %img.avatar{src: image_path('avatar.png')}
    = markdown(preview ? post.preview : post.body)
  .row.links
    .col-md-2.comments
      %a{href: '#'}= icon 'comments', '12'
    .col-md-7.tags
      = tags(post.tag_list) if post.tag_list.any?
    .col-md-3.continue
      - if preview
        %a{href: profile_post_path(post.user_name, post)}= icon 'book', t('.continue')
