.container.post
  = clip_and_clamp
  %h2
    - if user_signed_in?
      .actions
        - if content_for?(:actions)
          = yield(:actions)
        - else
          = render partial: 'posts/actions', locals: { post: post }
    
    %a{href: public_post_path(post)}= post.title
  
  .row.avatar
    = image_tag post.user_avatar_path, class: 'avatar'
  .row.details
    %span.user 
      %a{href: public_profile_path(post.user)}= icon 'user', post.user_name
    %span.date 
      = icon 'calendar', l(post.published_at.present? ? post.published_at : post.created_at)
    %span.comments 
      - if preview
        %a{href: public_post_path(post, anchor: "comments")}= icon 'comments', post.comments_count
      - else
        = icon 'comments', post.comments_count
  .row.body
    - cache post_cache_key(post, preview) do
      = sanitize(preview ? post.preview_html : post.body_html)
  .row.links
    .col-md-2.comments
      - if preview
        %a{href: public_post_path(post, anchor: "comments")}= icon 'comments', post.comments_count
      - else
        %a{href: public_section_path(post.section)}= icon 'folder-open', post.section_name
    .col-md-7.tags
      = tags(post.tags) if post.tags.any?
    .col-md-3.continue
      - if preview
        %a{href: public_post_path(post)}= icon 'book', t('.continue')
      - else
        %a{href: public_posts_path(post.user)}= icon 'level-up', t('nav.blog.of', user_name: post.user_name)

- unless preview
  .container.post
    .row.comments
      = render partial: 'comments/comments', locals: { comments: @comments, owner: post }

  = render partial: 'posts/bug_dialog', locals: { post: post }    
      