.posts-wall
  - posts.each do |post|
    .posts-wall-item
      %h2
        %a{href: public_post_path(post)}= post.title
      .info
        %a{href: public_profile_path(post.user)}
          = image_tag post.user_avatar_path, class: 'avatar'
      .body
        - cache post_cache_key(post, true) do
          = sanitize(post.preview_html)
      .actions
        %a.comments{href: public_post_path(post, anchor: "comments")}= icon 'comments', post.comments_count
        %a.more{href: public_post_path(post)}= icon 'book', t('.more')
