#posts-wall
  - posts.each do |post|
    .posts-wall-item
      %span.clamp
      %h2
        %a{href: public_post_path(post)}= post.title
      .info
        %a{href: public_profile_path(post.user)}
          = image_tag post.user_avatar_url(:thumb), class: 'avatar'
        %div.date
          %span.badge= icon 'calendar', l(post.published_at.present? ? post.published_at : post.created_at)
      .body
        - cache post_cache_key(post, true) do
          = sanitize(post.preview_html)
      .actions
        %a{href: public_post_path(post, anchor: "comments")}= icon 'comments', post.comments_count
        %a.more{href: public_post_path(post)}= icon 'book', t('.more')
