= content_for :nav do
  = render partial: 'public/nav', locals: { user: @user }
  = render partial: 'users/my', locals: { user: current_user } if user_signed_in?

= render partial: 'posts/list', locals: { posts: @posts, preview: true }
= paginate @posts