%table.table.table-bordered.table-hover
  %thead
    %tr
      %th= User.human_attribute_name(:id)
      %th= User.human_attribute_name(:user_name)
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:created_at)
  %tbody
    - users.each do |user|
      %tr
        %td= link_to user.id, admin_user_url(user)
        %td= link_to user.user_name, admin_user_url(user)
        %td= mail_to user.email
        %td= l user.created_at