= content_for :nav do
  = render partial: 'public/nav', locals: { user: @user }
  = render partial: 'users/my', locals: { user: current_user } if user_signed_in?

.container
  = clip_and_clamp
  = page_header
  .overview
    - @users.in_groups_of(4, false).each do |group|
      .row.placeholders
        - group.each do |user|
          .col-xs-6.col-sm-3.placeholder
            %a{href: public_profile_url(user)}
              = image_tag user.avatar_path, :alt => user.user_name, :class => "avatar"
            %h4= link_to icon('user', user.user_name), public_profile_url(user)
            %span.text-muted= user.has_publications? ? link_to(icon('book', l(user.last_published_at)), public_post_url(user.last_post)) : t('.never')
            %span.text-muted= t('.posts_count', count: user.posts_count)
            %span.text-muted= t('.comments_count', count: user.comments_count)

