= content_for :nav do
  = render partial: 'public/nav', locals: { user: @user }
  = render partial: 'users/my', locals: { user: current_user } if user_signed_in?

.container
  = clip_and_clamp
  = page_header
  .overview
    - @users.in_groups_of(4, false).each do |group|
      = render partial: 'public/overview_row', locals: { users: group }
        