!!! 5
%head
  %meta{ :charset => "utf-8" }
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  = yield(:meta) if content_for?(:meta)
  %title= content_for?(:title) ? "#{yield(:title)} - #{t('application.name')}" : t('application.name')

  = favicon_link_tag 'logo.png'
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = csrf_meta_tag
  
%body
  .wrapper
    = render partial: 'shared/header'
    %section#content
      = render partial: 'shared/flash'
      = yield
  = render partial: 'users/tools', locals: { user: current_user } if user_signed_in?
  = scroll_to_top
  = render partial: 'shared/footer'
